* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

body {
    line-height: 1.6;
}

header {
    background-image: url('assets/coverUp.png'), url('assets/header.png');
    width: 100%;
    height: 100vh;
    position: relative;
    background-size: cover;
    background-position: center;
    color: #fff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    position: absolute;
    width: 100%;
    z-index: 2;
}

.logo {
    font-size: 1.8rem;
    font-weight: bold;
    color: #fff;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 4vw;
    margin-right: 8vw;
}

.nav-links li {
    margin: 0;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
    font-weight: 500;
}

.nav-links a:hover {
    color: #ff6347;
}

.flex-container {
    display: flex;
    align-items: center;
    height: 100vh;
}

.left {
    flex: 55%;
    display: flex;
    justify-content: center;
}

.right {
    flex: 45%;
    text-align: left;
    max-width: 39rem;
    padding-right: 10vw;
}

.title {
    font-size: 2.8rem;
    margin-bottom: 2rem; 
    line-height: 1.2;
}

.subtitle {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    font-weight: lighter;
    color: rgba(255, 255, 255, 0.9);
}

.buttons {
    display: flex;
    gap: 15px;
}

.btn {
    padding: 12px 25px;
    border-radius: 30px;
    font-size: 1rem;
    text-decoration: none;
    text-align: center;
    color: white;
    display: inline-block;
    min-width: 170px;
}

#login {
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 30px;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    width: 110px;
    height: 40px;
    padding-top: 5px;
}
#login:hover {
    background-color: white;
    border: 2px solid #fff;
    color: #000000;
}


.getick {
    background-color: #d92c66;
    font-weight: bold;
}

.getick:hover {
    background-color: #bd1349;
}

.learnmore {
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    font-weight: bold;
}

.learnmore:hover {
    background-color: #fff;
    color: #333;
}

@media (max-width: 800px) {
    .flex-container {
        flex-direction: column;
        text-align: center;
        height: auto;
    }
    .right {
        padding: 0 20px; /* Adjust padding for smaller screens */
        max-width: 100%;
    }
    .kpop {
        width: 80vw;
    }
}


/*--------------------SECTION-------------------------*/
.headerEv {
    display: flex;
    padding-bottom: 7%;
}
main {
    padding: 11% 14% 4% 14%;
    margin: 0 auto;
}


.SearchBox {
    position: absolute;
    top: 90%;
    width: 100%;
}

.Search {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
    background-color: rgb(36, 37, 101);
    border-radius: 20px;
    height: 140px;
    width: 1086px;
    margin: 0 auto;
    padding-bottom: 10px;
    box-shadow: 0 4px 6px rgb(61, 55, 241, 0.25);
}
.Search div {
    width: 300px;
}

.SearchLabel {
    color: #fff;
    display: block;
}

.SearchInput {
    color: white;
    font-weight: bold;
    width: 100%;
    padding: 10px 0px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgb(255, 255, 255);
}
.SearchInput option {
    color: white;
    background-color: rgb(36, 37, 101);
}
.SearchInput::placeholder {
    color: white;
    font-weight: bold;
    font-size: large;
}

.SearchInput:focus {
    border: none;
    outline: none;
    border-bottom: 1px solid rgb(255, 255, 255);
}


.Search2 {
    display: flex;
    gap: 20px;
    height: fit-content;
    width: 50%;
}
.Search2 select {
    color: white;
    font-weight: bold;
    width: 168px;
    height: 46px;
    padding: 10px 15px;
    background-color: rgb(242, 244, 255);
    border-radius: 50px;
    border: none;
    color: rgb(29, 39, 95);
}


.title2 {
    width: 50%;
}
.title2 h1 {
    color: rgb(29, 39, 95);
}



.Events {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 60px;
}

.card {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(119, 115, 170, 0.1);
    transition: all 0.5s ease; /* Back to normal */
    cursor: pointer;
}

.card:hover {
    transform: scale(1.05); /* Zoom in on hover */
    transition: all 0.4s ease; /* Transition for the hover effect */
}

.card img {
    width: 100%;
    height: auto;
}

.card-content {
    display: flex;
    padding: 20px;
    align-items: start;
}

.date {
    color: rgb(0, 0, 0);
    text-align: center;
    width: 50px;
}

.month {
    font-size: small;
    font-weight: bold;
    color: rgb(61, 55, 241);
}

.day {
    text-align: center;
    font-size: 23px;
    font-weight: bolder;
}

.info {
    margin-left: 15px;
}

.info h2 {
    font-size: 18px;
    color: #333;
}

.info p {
    color: #666;
    font-size: 14px;
}

.loadmore {
    text-align: center;
    margin-top: 20px;
}

.loadmore button {
    padding: 12px 25px;
    border-radius: 30px;
    font-size: 1rem;
    font-weight: bolder;
    text-decoration: none;
    text-align: center;
    background-color: transparent;
    color: #3d37f1;
    cursor: pointer;
    display: inline-block;
    min-width: 170px;
    border: 2px solid #3d37f1;
}

.loadmore button:hover {
    color: white;
    background-color: #3b5abc;
}


.join {
    background-color: #EEE1FF;
    width: 100%;
    height: 252px;
    text-align: center;
    padding: 4% 27%;
}
.join h1 {
    font-size: 2.3em;
    color: rgb(29, 39, 95);
    margin-bottom: 20px;
}
.join p {
    color: #666;
    font-size: 18px;
}

.blog {
    height: 100vh;
    text-align: center;
    padding: 0 14%;
    margin: 0 auto;
    margin-bottom: 40px;
}

.blog > img {
    display: block;
    margin: 6% auto;
}
.blog h1{
    font-size: 2.3em;
    font-weight: bolder;
    margin-bottom: 20px;
}
.blog p {
    color: #666;
    font-size: 18px;
    margin-bottom: 50px;
}


.Blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 60px;
}

.BlogCard {
    background-color: transparent;
    overflow: hidden;
    transition: all 0.5s ease; /* Back to normal */
    cursor: pointer;
}
.BlogCard:hover {
    transform: scale(1.05); /* Zoom in on hover */
    transition: all 0.4s ease; /* Transition for the hover effect */
}

.BlogCard img {
    border-radius: 20px;
    width: 100%;
    object-fit: cover;
}


.BlogInfo {
    text-align: start;
    padding-right: 60px;
}

.BlogInfo h6 {
    font-size: 18px;
    color: #242565;
    margin: 10px 0 20px 0;
}

.BlogInfo p {
    color: #666;
    font-size: 14px;
}
.BlogInfo a {
    text-decoration: none;
}

footer {
    height: 400px;
    background-color: #0A075F;
    display: flex;
    flex-direction: row;
    color: white;
    padding: 60px 120px;
    justify-content: space-between;
}
@media (max-width: 800px) {
    footer {
      flex-direction: column;
    }
}

.firstC {
    padding: 10px;
    flex: 35%;
}
.firstC p {
    padding-right: 60px;
    margin: 11px 0;
}
.icons {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.secondC {
    padding: 10px;
    flex: 15%;
}
.secondC h3, .thirdC h3, .fourthC h3 {
    margin-bottom: 30px;
}
.secondC p, .thirdC p, .fourthC p {
    margin-bottom: 5px;
}
.thirdC {
    padding: 10px;
    flex: 15%;
}
.fourthC {
    padding: 10px;
    flex: 35%;
}
.fourthC p {
    padding-right: 30px;
    margin-bottom: 20px;
}
.subscribe {
    height: 60px;
    width: 400px;
    border-radius: 40px;
    padding: 25px;
}
.subscribe:focus {
    border: none;
    outline: none;
}
.input-wrapper {
    position: relative;
    display: inline-block;
}

.input-wrapper button {
    position: absolute;
    top: 11%;
    right: 2%;
    border: none;
    color: white;
    background-color: #F5167E;
    cursor: pointer;
    height: 47px;
    width: 160px;
    border-radius: 40px;
    font-weight: bold;
}
.input-wrapper button:hover {
    background-color: #c01263;
}


.Copyright {
    background-color: #0A075F;
    text-align: center;
    padding: 0 150px;
}
.Copyright p {
    color: white;
    padding: 20px;
    font-size: small;
}

/* ========================================================= */


.leftLog {
    flex: 55%;
    margin: 70px auto 100px auto; /* Top, Right, Bottom, Left */
    padding: 20px;
    max-width: 400px;
}
.register-form-title {
    color: #fff;
    text-align: start;
    margin-bottom: 20px;
    font-size: 3em;
}
.register-label {
    color: #fff;
    display: block;
    margin-bottom: 8px;
}
.register-input,
.register-select {
    width: 100%;
    height: 20%;
    padding: 10px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.register-submit {
    background-color: #2C9381;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}
.register-submit:hover {
    background-color: #419d8d;
}
.inputPass {
    position: relative;
    margin-bottom: 20px;
}
.inputPass button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 43%;
    right: 3%;
}



/*----------------------ABOUT----------------------*/
.AbContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.leftAb {
    padding: 40px;
    padding-top: 80px;
    max-width: 56vw;
}
.leftAb h1 {
    font-size: 3em;
    margin-bottom: 20px;
}
.rightAb {
    padding: 40px;
    max-width: 50vw;
    position: relative;
    padding-bottom: 140px;
}
.Ab1, .Ab2 {
    width: 500px;
    height: 180px;
    border-radius: 20px;
    background-position: center;
    background-size: cover;
    margin: 30px 0;
    transition: all 0.5s ease; /* Back to normal */
    cursor: pointer;
}

.Ab1:hover, .Ab2:hover {
    transform: scale(1.05); /* Zoom in on hover */
    transition: all 0.4s ease; /* Transition for the hover effect */
}

.Ab1 {
    background-image: url("assets/Ab1.jpg");
}
.Ab2 {
    background-image: url("assets/Ab2.jpg");
}
#Abex {
    position: absolute;
    top: 60%;
    right: 5%;
    max-width: 50vw;
}

/*========================SPEAKERS============================*/

.Artists {
    margin: 0 auto;
}

.title3 {
    text-align: center;
    color: #242565;
    margin-bottom: 70px;
    font-size: 3em;
}

.Trending {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 40px;
    justify-content: center; /* Centers the grid horizontally */
    margin-bottom: 60px;
}

.item1, .item2, .item3, .item4, .item5, .item6, .item7, .item8, .item9 {
    display: flex; /* Flexbox layout */
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    text-align: center;
    width: 380px;
    height: 472px;
    border-radius: 30px;
    background-size: cover;
    background-position: center;
    transition: all 0.5s ease; /* Back to normal */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}
.item1:hover, .item2:hover, .item3:hover, .item4:hover, .item5:hover, .item6:hover, .item7:hover, .item8:hover, .item9:hover {
    transform: scale(1.05); /* Zoom in on hover */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all 0.4s ease; /* Transition for the hover effect */
}


.item1 h1, .item2 h1, .item3 h1, .item4 h1, .item5 h1, .item6 h1, .item7 h1, .item8 h1, .item9 h1 {    
    text-align: center;
    color: white;
    width: 100%;
    padding: 7px 0;
    margin-top: 60%;
    text-shadow: 1px 1px 4px rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.6);
}

.item1 { background-image: url("assets/eminem.jpg"); }
.item2 { background-image: url("assets/biggie.jpg"); }
.item3 { background-image: url("assets/Cent.jpg"); }
.item4 { background-image: url("assets/Dean.jpeg"); }
.item5 { background-image: url("assets/Arm.jpg"); }
.item6 { background-image: url("assets/Haris.jpg"); }
.item7 { background-image: url("assets/Camille.webp"); }
.item8 { background-image: url("assets/Adele.jpg"); }
.item9 { background-image: url("assets/Hajja.jpg"); }
