* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-image: url('assets/coverUp.png'), url('assets/header.png');
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}

.logo {
    color: #fff;
    font-size: 24px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #ff6347;
}

/* Responsive */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #333;
    }

    .nav-links.active {
        display: flex;
    }
}


.flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.left {
    flex: 60%;
    align-items: end;
}
.right {
    color: white;
    flex: 40%;
    align-items: start;
}
.kpop {
    width: 44vw;
}

/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
}

.title {
    margin-bottom: 2rem; 
}
.subtitle {
    font-weight: lighter;
}